html, body {
    margin: 0; 
    padding: 0; /*efeito de preenchimento*/
    height: 100%; /*altura da pagina*/
    font-family: 'Titillium Web', sans-serif; /**/
    text-align: center; /*centralizar texto*/
    font-weight: bold; /* negrito*/
    scroll-behavior: smooth; /* rolagem suave */
}

nav {
    top: 0; 
    width: 100%; /* largura da barra de navegação */
    position:fixed; /* bloco de navegação fixado*/
    background-color: rgba(255, 230, 5, 0.884);
    z-index: 1; /* */
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;   
}