html, body {
    margin: 0; 
    padding: 0; /*efeito de preenchimento*/
    height: 100%; /*altura da pagina*/
    font-family: 'Titillium Web', sans-serif; /**/
    text-align: center; /*centralizar texto*/
    font-weight: bold; /* negrito*/
    scroll-behavior: smooth; /* rolagem suave */
}
nav {
    top: 0; 
    width: 100%; /* largura da barra de navegação */
    position:fixed; /* bloco de navegação fixado*/
    background-color: rgba(0,0,0);
    z-index: 1; /* */
}
ul {
    list-style-type: none; /* */
    margin: 0;
    padding: 0;   
}
a {
    text-decoration: none; /* limpando os links */
    color: rgb(255, 255, 255);
    font-size: 1rem; /* tamanho da fonte */
    line-height: 1.5rem; 
}
.fundo2 {
    background-image: url("../imagens/bg02.jpg"); 
}
.fundo3 {
    background-image: url("../imagens/bg03.jpg"); 
}
.fundo4 {
    background-image: url("../imagens/bg04.jpg"); 
}
.fundo5 {
    background-image: url("../imagens/bg05.jpg"); 
}

.fundo1, .fundo2, .fundo3, .fundo4, .fundo5 {
    position: relative; 
    height: 100%;
    background-size: cover; /* tamanho do fundo, esticando a imagem e prenchendo todo o espaço com ela */
    background-position: center;
    background-attachment: fixed;
}
.destaque {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    color: rgb(0, 0, 0) ;
    background-color: rgb(255, 230, 5); /* fundo destaque com a frase central*/
    padding: 10px;
    width: 40%;
    font-size: 1rem;
    filter: drop-shadow(4px 4px gainsboro);
    margin: auto;
}
.conteudo {
    color: rgb(0, 0, 0);
    background-color: gainsboro;
    padding: 90px 25px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background: rgba(255, 230, 5, 0.884);
    color: rgb(0, 0, 0);
    width: 100%;
    margin: 10px auto;
    box-sizing: border-box;
}
.fotos , .container {
    background: none;
}
.fotos  .container img, video {
    border-radius: 5%;
    padding: 10px;
    margin-bottom: 20px;
    width: 80%;
}
.texto { /**/
    text-align: justify;
}

h1 { /**/
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-align: center;
}
img {
    width: 100%;
}
#logo {
    width: 33%;   
}

#quadro_animado {
    margin: auto;
    background-size: cover;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-name: muda_imagem;
}

form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    margin: 30px auto;
}
label , .carro, .qtd , .botao {
    font-size: 1.25rem;
    padding: 5px;
    border-radius: 4px;
    width: 100%;
}  
#entrada , .botao {
    font-family: inherit;
    text-align: center;
    border: none;
    margin-bottom: 20px;
}
label, .botao {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}

#nome, #email, #fone, #nomecompleto {
    font-family: inherit;
    font-size: 1rem;
    width: 100%;
    border: none;
    border-radius: 4px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 12px 12px 40px;
    margin-bottom: 20px;    
}
#nomecompleto {
    background-image: url("../imagens/user_peq.png");
}
#email {
    background-image: url("../imagens/correio_peq.png");
}
#fone {
    background-image: url("../imagens/phone_peq.png");
}
form p {
    font-weight: normal;
}

@keyframes muda_imagem { /* animação de transição*/
    0%  { background-image: url("../imagens/bg01.jpg") ;} 
    50% { background-image: url("../imagens/bg02.jpg") ;} 
    100% { background-image: url("../imagens/bg01.jpg") ;} 
}
.topo {
    height: 15%;
    width: 8%;
    position:absolute;
	left:90%;
    filter:grayscale() ;
}
footer {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 230, 5, 0.884);
    padding: 15px;
}
@media (min-width: 768px) {
    nav {
        padding: 15px ;
    }
    ul {
        padding: 3px;
    }
    li {
        width: 25%;
        float:left;
    }
    ul :hover {
        transform:  rotate(-5deg);
        color: yellow;
        
    }
        a { /* tamanho da letra da barra de navegação */
        font-size: 1.25rem;
    }
    .fotos .container video {
        width: 30%;
        filter: none; 
        border-radius: 5%; 
    }
    #logo {
        width: 33%;   
    }
    .fotos .container img {
        width: 30%;
        filter: none; 
        border-radius: 5%; 
    }
    .fotos .container {
        flex-wrap: wrap;
    }
    .destaque {
        padding: 10px;
        font-size: 2rem;
        width: 25%; /* tamanho inicial em 25%*/
        transition: width 1s; /* aumentar a largura suavemente*/
    }
    .destaque:hover {
        width: 40%; /* aumentando pra 40%*/
    }
    .conteudo {
        padding: 70px; 
    }
    .quadro_animado {
        width: 620px;
        height: 400px;
    }
    form {
        width: 50%;
        margin-bottom: 160px;
    }
    label {
        width: 40%;
        margin-bottom: 20px;
    }
    #entrada, .botao {
        width: 50%;
    }
    #email, #fone, #nomecompleto {
        font-size: 1.25rem;
        padding: 12px 20px 12px 50px ;
    }
    label, .botao:hover {
        color: yellow;
    }
    #parceiros {
        height: 10%;
        width: 10%;
        padding: 5px;
    }
    #logo {
        width: 35px;
        height:35px;
    }
    div .container:hover {
        
    }
    
}